.footer{
    position:fixed;
    bottom:0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width:100%;
    background-color: rgba(218, 202, 20, 0.95);
    padding: 10px;
}
.item{
    margin: 50px;
}